[Desktop Entry]
Name=Electric Sheep
Comment=Collaborative Screen Saver
Exec=xscreensaver-command -activate
TryExec=electricsheep
Terminal=0
Type=Application

[Screensaver Data]
WindowIdCommand=--window-id
RootCommand=
Icon=electricsheep.png
Author=Scott Draves
ExtendedComment=v2.1, http://electricsheep.org
Demo=electricsheep

[Arg0]
Name=Framerate
Type=NRange
LeftLabel=Frame rate:
Flag=--frame-rate
ValType=I[0-60]=20
Label=Framerate
Comment=Frames per second

[Arg1]
Name=RenderOnly
Type=Check
LeftLabel=Render but don't display.
Flag=--display-anim 0
Flag2=--display-anim 1
Label=Render Only
Comment=Render but don't display.

[Arg2]
Name=MaxMegs
Type=NRange
LeftLabel=Max Megabytes:
Flag=--max-megabytes
ValType=I[1-200]=50
Label=MaxMegs
Comment=Maximum megabytes of storage in home directory

[Arg3]
Name=SwitchInterval
Type=NRange
LeftLabel=Loop Repetitions:
Flag=--nrepeats
ValType=I[1-10]=2
Label=NumRepeats
Comment=loop anim repetitions

