Source: electricsheep
Section: x11
Priority: optional
Maintainer: Ichthyostega <deb@ichthyostega.de>
Standards-Version: 3.9.6
Build-Depends: debhelper (>= 9),
	cdbs,
	dh-autoreconf,
	autotools-dev,
	autoconf,
	automake,
	libtool,
	pkg-config,
	libwxgtk3.0-dev,
	libgtk2.0-dev,
	libgl1-mesa-dev,
	libavcodec-dev,
	libavformat-dev,
	libswscale-dev,
	liblua5.1-0-dev,
	libcurl4-openssl-dev,
	libxml2-dev,
	libjpeg8-dev,
	libgtop2-dev,
	libboost-dev (>= 1.39),
	libboost-filesystem-dev (>= 1.39),
	libboost-thread-dev (>= 1.39),
	flam3 (>= 3.0)
Homepage: http://www.electricsheep.org

Package: electricsheep
Architecture: any
Depends: , ${shlibs:Depends}, ${misc:Depends},
	debconf | debconf-2.0,
	flam3 (>= 3.0),
	mplayer,
	xloadimage,
	libjpeg-progs,
	curl
Description: screensaver showing collective dream of sleeping computers
 Electric sheep is the collective dream of sleeping computers
 from all over the internet. Less poetically, it is an Internet server and
 xscreensaver module that displays MPEG video of an animated fractal flame.
 In the background, it contributes render cycles to the next animation.
 Periodically, it uploads completed frames to the server, where they are
 compressed for distribution to all clients.
 .
 NOTE:  The videos downloaded and displayed by Electric Sheep are
 Creative Commons licensed (a mixture of CC-BY and CC-BY-NC). Some jobs
 rendered by the network may be for images or animations which are not
 sheep at all, and will not appear in the screen-saver.  Some of these
 are used for commercial purposes in order to support the developers
 and servers that make the software.
