[Desktop Entry]
Version=1.2
Name=ElectricSheep
Comment=Electric Sheep is a distributed screen-saver that harnesses idle computers into a render farm with the purpose of animating and evolving artificial life-forms. See www.electricsheep.org.
TryExec=electricsheep-saver
Exec=electricsheep-saver
StartupNotify=false
Terminal=false
Type=Application
Icon=electricsheep
Categories=Screensaver;
OnlyShowIn=GNOME;KDE;XFCE
